@media screen and (max-width: 899px) {
    .product {
        display: block;
    }
    #ball1{
        display: flex;
        width: 80%;
        height: 400px;
    }
    
    #ball2{
        display: block;
        width: 80%;
         height: 400px;
    }
    #ball3{
        display: block;
        width: 80%; 
        height: 400px;
        
    }
    #ball4{
        display: flex;
        width: 80%;
        height: 400px;
    }
    #ball5{
        display: flex;
        width: 80%;
        height: 400px;
    }
    #ball6{
        display: flex;
        width: 80%;
        height: 400px;
    }
    .h3{
        display: flex;
        justify-content:center;
    }
    .img {
        display: none;
    }
    #text {
        display: flex;
        justify-content:center;
    }
    #photo {
        display: flex;
        justify-content:center;
        width: 100%;
    }
    
    
    
}