@media screen and (max-width: 700px) {
     #ball1{
        display: block;
        position: relative;
        width: 100%;
     }
    
    #ball2{
        display: block;
        position: relative;
        width: 100%;
        
        
    }
    #ball3{
        display: block;
        position:  relative;
        width: 100%;
        
        
    }
    #ball4{
        display: block;
        position: relative;
        width: 100%;
        
    }
    #ball5{
        display: block;
        position: relative;
        width: 100%;
    }
    #ball6{
        display: block;
        position: relative;
        width: 100%;
        
    }
    
    .product{
        display: block;
    }
    
}